
= simple_form_for @pin, html: {multipart: true} do |f|
  - if @pin.remote_image_url != nil
    %div.ui.segment
      %div.ui.horizontal.divider
        Image
      = image_tag (@pin.remote_image_url || ""), class: 'ui large centered image'
      = f.input :remote_image_url, label: "Image Url"
      %div.ui.horizontal.divider
        or
      = f.input :image
  - if @pin.remote_image_url == nil
    = f.input :image
    = f.input :remote_image_url, label: "Or Image url"

  = f.input :category_id, collection: Category.all, label_method: :name, value_method: :id, label: "Category",include_blank: false
  = f.input :title
  - if @pin.remote_image_url == nil
    = f.input :pin_url, label: "Reference Url"
  = f.hidden_field :pin_url, value: @pin.pin_url
  = f.input :description
  = f.button :submit
  - if @pin.remote_image_url != nil
    = link_to "Cancel", new_pin_path, class:"ui red basic button"
