%div.ui.segment
  = link_to (image_tag @pin.image_url.to_s, :class => "ui fluid image"), @pin.pin_url, target: "_blank"
  %div.ui.horizontal.divider
    by :
    = @pin.user.email
#like
  = render 'likes/form', likeable: @pin
- if user_signed_in? && @pin.user.email == current_user.email
  = link_to "Delete", @pin, method: :delete, data: { confirm: "Are you sure?"},:class => "ui mini right floated basic red button"
  = link_to "Edit", edit_pin_path(@pin), :class => 'ui mini right floated green button'
= link_to "Visit", @pin.pin_url, target: "_blank", :class => "ui mini right floated basic red button"



-# %div.ui.two.column.centered.stackable.grid
-#   %div.ten.wide.column
-#     %h1.ui.header
-#       = @pin.title
-#     %p.ui.description= @pin.description
-#     %div.ui.comments
-#       = render 'comments/form'
-#       %h3.ui.dividing.header
-#         Comments
-#       - @pin.comments.each do |comment|
-#         %div.comment
-#           %a.avatar
-#             %img{src: @pin.image.thumb.url}
-#           %div.content
-#             %a.author
-#               = comment.user.email
-#             %div.text
-#               = comment.comment
-#             %div.actions
-#               %a.reply
-#                 Delete

%div.ui.two.column.centered.stackable.grid
  %div.ten.wide.column
    %h1.ui.header
      = @pin.title
    %p.ui.description= @pin.description
    %div.ui.comments
      = render 'comments/form'
      %h3.ui.dividing.header
        Comments
      #comments
        = render(@comments)
